<template>
  <v-navigation-drawer app v-model="drawer" permanent class="corp">
    <v-list-item>
      <v-list-item-avatar>
          <v-img
            src="https://images.pexels.com/photos/3776969/pexels-photo-3776969.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
          ></v-img>
        </v-list-item-avatar>
    </v-list-item>
    <v-list-item link>
      <v-list-title>João Luiz</v-list-title>
    </v-list-item>

    <v-divider></v-divider>

     <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" router :to="item.route">
          <v-list-item-icon>
            <v-icon class="itens">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="itens">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
  </v-navigation-drawer>
  
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        { title: "Dashboard", icon: "mdi-view-dashboard", route: "/" },
        { title: "Equipamentos", icon: "mdi-car", route: "/equipment" },
        { title: "Rotas", icon: "mdi-pin", route: "/route" },
        { title: "Inspeção", icon: "mdi-help-box", route: "/inspection" },
        { title: "Missão", icon: "mdi-help-box", route: "/mission" },
        { title: "Usuário", icon: "mdi-help-box", route: "/user" },
        { title: "Sair", icon: "mdi-help-box", route: "/logout" },
        { title: "login", icon: "mdi-help-box", route: "/login" },
      ],
      right: null,
    };
  },
};
</script>

<style scoped>
.corp {
  background-color: #0258b6;
}
.avatar {
  left: 77px;
  top: 32px;
}
.title {
  left: 73px;
  top: 202px;
  font-size: 15px;
  line-height: 17px;
}
.itens {
  color: #ffffff;
}
</style>