<template>
  <section class="section">
    <div class="container">
      <div class="layout row">
        <div class="flex mr-auto pa-0 pl-2">
          <h1 class="title">Equipamentos</h1>
        </div>

        <div class="flex ml-auto d-flex justify-end align-top pa-0 pt-2 pr-2">
          <div class="v-item-group theme-light">
            <a
              href="/equipment/new"
              class="v-btn v-btn--depressed v-btn-router theme--light v-size--default"
            >
              <span class="v-btn__content">
                <i
                  aria-hidden="true"
                  class="v-icon notranslate v-icon--left mdi mdi-plus theme--light"
                ></i>
                <span>cadastar novo equipamento</span>
              </span>
            </a>
          </div>
        </div>
      </div>

      <v-card>
        <v-divider></v-divider>
        <v-card-text class="pa-0">
          <template>
            <v-data-table
              :headers="headers"
              hide-actions
              class="elevation-0 table-striped"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td class="text-xs-left">{{ props.item.image }}</td>
                <td class="text-xs-left">{{ props.item.name }}</td>
              </template>
            </v-data-table>
          </template>
          <v-divider></v-divider>
        </v-card-text>
      </v-card>
    </div>
  </section>
</template>

<script>
import items from '@/api/order';
export default {
  data () {
    return {
      headers: [
        {
          text: 'Id',
          align: 'left',
          sortable: false,
          value: 'id'
        },
        { text: 'Imagem', value: 'image' },
        { text: 'Nome', value: 'name' },
        { text: 'Status', value: 'status' },
      ],
      items: items,
    
    };
  },
  computed: {
    randomColor () {
      let item = Math.floor(Math.random() * this.colors.length);
      return this.colors[item];
    },
  },
  methods: {
    getColorByStatus (status) {
      return this.colors[status];
    },
  }
};
</script>